#lectures {
  text-align: center;
  padding: 0 0 70px;

  .col-md-6 {
    height: 60px;
  }
}

.lectures__header {
  font-size: 36px;
  margin-bottom: 40px;
}

.lectures__body {
  font-size: 22px;
  margin-bottom: 40px;
}

.lectures__link {
  font-size: 26px;
  color: #333;
  border: 2px solid #333;
  border-radius: 6px;
  padding: 8px 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
  margin-left: 10px;
  &:hover {
    color: #fff;
    background: #333;
    text-decoration: none;
  }
  transition: 0.3s;
}
