.loader-wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  background: radial-gradient(#fff, #ccc);
  overflow: hidden;
  perspective: 500;
  z-index: 15;
}

.cube {
  animation: rotate 7000ms linear infinite;
  bottom: 0;
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  transform-style: preserve-3d;
  right: 0;
  top: 0;
  width: 100px;
}

@keyframes rotate {
  100% {
    transform: rotateY(360deg) rotateX(720deg) rotateZ(1080deg);
  }
}

.face {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.front {
  background: #3c348a;
  transform: translateZ(50px);
}

.back {
  background: #444;
  transform: translateZ(-50px);
}

.left {
  background: #f38f31;
  transform: translateX(-50px) rotateY(90deg);
}

.right {
  background: #e3e3e3;
  transform: translateX(50px) rotateY(90deg);
}

.top {
  background: #6c6c6c;
  transform: translateY(-50px) rotateX(90deg);
}

.bottom {
  background: #d22020;
  transform: translateY(50px) rotateX(90deg);
}