.map {
	top: 0;

	width: 100%;
  height: 896px;
  @media (max-device-width:420px) {
	  height: 448px;
  }
	overflow: scroll;

	background: black;
}

.map-inner {
	position: relative;

  width: 1400px;
	height: 100%;
  margin: 0 auto;

  @media (max-device-width:420px) {
    background-size: 100%;
    background-image: image_url('map.jpg');
    width: 700px;
  }

	background-image: image_url('map@2x.jpg');
	background-size: cover;
}

.place-link {
  display: block;
  position: absolute;

  opacity: 0;
  &:hover {
    opacity: 1;
  }
  img {
    position: absolute;;
    @include transform(scale(0.5) translate(-100%, -100%));
  }
  transition: 0.3s;
  animation-name: gigote;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.reveal {
  opacity: 0.8;
}

$places: 12;

@for $i from 1 through $places {
  .delay-#{$i} {
    animation-delay: #{$i*0.4+$i}s;
  }
}

@keyframes gigote {
    0%   {transform: translateX(0);}
    90%   {transform: translateX(0);}
    95%  {transform: translateX(-2px);}
    100%  {transform: translateX(2px);}
}
