.story__container {
  margin-bottom: 30px;
}

.story__book {
  text-align: center;
  margin-bottom: 30px;
}

.story__text {
  font-size: 24px;
}

.story__find-it {
  font-size: 18px;
}

.author__container {
  margin-bottom: 30px;
}

.author__title {
  font-size: 36px;
}

.author__bio {
  font-size: 18px;
  line-height: 48px;
}

.author__left-block {
  text-align: center;
}

.author__photo {
  text-align: center;
}