$title: 'Montserrat', sans-serif;
$text: 'Georgia', serif;


* {
  font-family: $title;
}

p {
  font-family: $text;
}

.header__container {
  position: fixed;
  z-index: 10;
  width: 100%;
  text-align: center;
  @media (min-width:800px) {
   text-align: left; 
  }
}

.header__title {
  padding: 20px;
}


.header__anchor {
	text-transform: uppercase;
	color: white;
  position: relative;
  z-index: 10;
  text-shadow: 2px 2px 10px black;
  font-size: 25px;
  @media (min-width: 569px) {
    font-size: 40px;
  }
  &:hover, &:focus {
    text-decoration: none;
    color:#f38f31;
  }
}

.header__speaker {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  margin: 10px;
  display: none;
  &:hover {
    cursor: pointer;
  }
}
.modal-backdrop {
	background: linear-gradient(to bottom, #3c348a 0%, #d22020 25%, #f38f31 50%, #d22020 75%,#3c348a 100%);
}


