$title: 'Montserrat', sans-serif;
$text: 'Georgia', serif;


* {
  font-family: $title;
}

p {
  font-family: $text;
}

.header__container {
  position: fixed;
  z-index: 10;
  width: 100%;
  text-align: center;
  @media (min-width:800px) {
   text-align: left; 
  }
}

.modal-backdrop {
	background: linear-gradient(to bottom, #3c348a 0%, #d22020 25%, #f38f31 50%, #d22020 75%,#3c348a 100%);
}

.section__header {
  text-align: right;
  text-transform: uppercase;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

