.quote__container {
  height: 227px;
  width: 100%;
  background-image: image_url('quote-background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @media(min-device-width:420px){
    background-attachment: fixed;
  }
  
  position: relative;
  margin-bottom: 60px;
}

.quote__content, .quote__author {
  background: white;
  font-size: 24px;
  display: inline-block;
}

.quote__content {
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.quote__author {
  position: absolute;
  top: 65%;
  left: 68%;
}