<div class="md-modal md-effect-1" id="about-the-book">
  <div class="md-content">
    <h3 class="tagline">Demande à la nuit</h3>
    <p>
      « La rencontre de deux tracks est une rencontre amoureuse : là aussi il s’agit de vibrer à la même fréquence pour un temps donné, sans qu’une piste n’ait à s’ajuster plus que l’autre. »
    </p>
    <p>
      Anne Laure Jaeglé, passionnée de musique, organisatrice de soirées et de raves clandestines, vit à Berlin. 
    </p>
    <div>
      <div class="cover-container">
      </div>
    </div>
    <p>
      Disponible en librairies et sur commande à www.lavillebrule.com
    </p>
    <p>
      Playlists : www.youtube/demandealanuit
    </p>
  </div>
</div>