<div class="md-modal md-effect-1" id="<%=place.title%>">
  <div class="md-content">
    <h3 class="tagline"><%= place.tagline.html_safe %></h3>
    <div>
      <p class="excerpt">
        <%= place.description %>
      </p>
      <div class="md-bottom">
        <a class="play-track-modal" href="#" data-video-id="<%= place.youtube_link %>">Écouter la musique associée</a>
        <a class="md-close">Fermer</a>
      </div>
    </div>
  </div>
</div>