<div class="md-modal md-effect-1" id="welcome">
  <div class="md-content">
    <h3 class="tagline">Demande à la nuit</h3>
    <div>
      <p class="excerpt">
      Bienvenue sur le site consacré au premier roman d'Anne Laure Jaeglé, Demande à la Nuit.<br>
      Parcourez la carte de Berlin pour découvrir des extraits du livre.
    </p>
    </div>
    
    <div class="md-bottom">
      <a class="md-close">Fermer</a>
    </div>
  </div>
</div>