<div class="map">
  <div class="map-inner">
    <% @places.each do |place| %>
    <%= link_to('', {style:"left: #{place.xpos}%;top: #{place.ypos}%;", class:"place-link", data: {toggle: 'modal', target: "##{place.title}-modal"}}) do %>
      <%= image_tag(place.image_file_name+'@2x.png') %>
    <% end %>

    <%= render 'place_modal', place: place %>

    


    <% end %>
  </div>
</div>

