<!DOCTYPE html>
<html>
<head>
  <title>Demandealanuit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
  	<div class="navbar-header">
  		<a href="#" class="navbar-brand" data-toggle="modal" data-target="#about-the-book-modal">Demande à la nuit</a>
  	</div>
  </div>
  <div class="modal fade" id="about-the-book-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">À propos du livre</h4>
          </div>
          <div class="modal-body">
            <p>
              « La rencontre de deux tracks est une rencontre amoureuse : là aussi il s’agit de vibrer à la même fréquence pour un temps donné, sans qu’une piste n’ait à s’ajuster plus que l’autre. »
            </p>
            <p>
              Anne Laure Jaeglé, passionnée de musique, organisatrice de soirées et de raves clandestines, vit à Berlin. 
            </p>
            <div>
              <div class="cover-container">
              </div>
            </div>
            <p>
              Disponible en librairies et sur commande à www.lavillebrule.com
            </p>
            <p>
              Playlists : www.youtube/demandealanuit
            </p>
          </div>
        </div>
      </div>
    </div>

<%= yield %>

</body>
</html>
