<!DOCTYPE html>
<html>
<head>
  <title>Demande à la nuit, le premier roman d'Anne Laure Jaeglé</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Demande à la nuit vous plonge au coeur de la nuit berlinoise et du nouvel âge d'or que connait la techno. Un journal musical à l'écriture charnelle et incisive, rythmé par une soixantaine de morceaux. Le portrait d'une génération qui se trouve dans la fête. Disponible en librairies, ebook ou sur commande sur le site de la ville brûle..">
  <meta name="keywords" content="demande à la nuit, anne laure jaeglé, anne-laure jaeglé, berlin, techno, livre, book, music, musique, roman, house, lectures, la ville brûle, strasbourg, paris">
  <meta name="contact" content="axel.rigaud@gmail.com">
  <meta name="Author" content="Axel Rigaud">
  <meta name="Robots" content="all">
  <meta name="Distribution" content="Global">
  <meta name="Expires" content="Never">
  <%= javascript_include_tag('trackboundlinks.js') %>
</head>
<body>
  <h1>Demande à la nuit - Anne Laure Jaeglé</h1>


<%= yield %>

<div class="md-overlay"></div>
<div id="player"></div>
</body>
</html>
